#title-main, #title-sub {
  text-align: center;
  color:#222;
}

#title-main {
  font-size:2.7em;
}

#title-sub {
  font-size:2em;
}

h1, h2 {
  color:#0072c1
}

#container {
  max-width: 60em;
}

a:hover {
  color: #59a3d7;
}

h1 a:link{
  text-decoration: none;
}
h1 a:visited{
    text-decoration: none;
    color: #222;
}
h1 a:active{
    text-decoration: none;
}
h1 a:hover{
    text-decoration: none;
    color: #59a3d7;
}

ul h3 {
  text-align: left;
}

pre {
  background-color:#f0f0f0;
  padding:15px 20px;
  overflow:auto;
}

pre code, code, tt {
  font-family: Courier;
  font-size:.9em;
  background-color:#f0f0f0;
}

button {
  background-color:#fff;
  border-style:none;
  padding:7px 10px;
  font-size:1em;
  cursor:pointer;
  color:#007291;
}

button:hover {
  background-color:#007291;
  color:#fff
}

*:focus {
  outline:none;
}

.terminal {
  margin-left: 2em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  max-width:50%;
}

p.figure_caption {
  text-align: center;
}

.note {
  margin-left: 4em;
  margin-right: 4em;
}


table.txt_table {
  margin-left: 4em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 4em;
}

.toc {
  font-size: large;
}


hr {
  width: 80%;
}

.announcement {
  padding: 20px;
  background-color: #f2dede;
  border-radius: 10px;
  border-color: #eed3d7;
  text-align: center;
}

